@charset "UTF-8";
.box{
	background-color: #d8dce4;
	width: 400px;
	height: 350px;
	/* 外边距 */
	margin: 100px auto;
	/* 内边距 */
	padding: 50px 30px;
	/* 圆角 */
	border-radius: 25px;
	/* 阴影 */
	box-shadow: 10px 10px 10px gray;
	/*          左右  上下  柔和度  颜色*/
}
.title{
	/* 内边距 */
	margin-bottom: 10px;
	/* 字体大小 */
	font-size: 20px;
	/* 字体颜色 */
	color: gray;
}
.sub-btn{
	margin-top: 40px;
}